name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Bootstrap Build (Pack Sdk)
        run: |
          dotnet pack src/eQuantic.UI.Core/eQuantic.UI.Core.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Components/eQuantic.UI.Components.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Server/eQuantic.UI.Server.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Tailwind/eQuantic.UI.Tailwind.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Sdk/eQuantic.UI.Sdk.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Runtime/eQuantic.UI.Runtime.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Runtime.Osx64/eQuantic.UI.Runtime.Osx64.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Runtime.Win64/eQuantic.UI.Runtime.Win64.csproj --configuration Release
          dotnet pack src/eQuantic.UI.Runtime.Linux64/eQuantic.UI.Runtime.Linux64.csproj --configuration Release

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal

      - name: Pack
        if: matrix.os == 'ubuntu-latest' # Only pack on one OS to avoid duplicates
        run: dotnet pack --no-build --configuration Release --output nupkgs

      - name: Upload NuGet Packages
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: nupkgs
          path: nupkgs/*.nupkg
